body {
    background-color: #FFCEEA;
    font-family: Helvetica, sans-serif;
    color: #59cf8c;
}

label {
  display: block;
  font-weight: bold;
  font-size: xx-large;
  font-family: Helvetica, sans-serif;
  margin-top: 1rem;
  background-color: #FFCEEA;
  color: #59cf8c;
}

input[type="submit"] {
  font-weight: bold;
  font-size: xx-large;
  font-family: Helvetica, sans-serif;
  margin-top: 1rem;
  background-color: #FFCEEA;
  color: #59cf8c;
}